{% extends 'headerFooter.html' %}
{% load static %}
{% block content %}
{% if request.user.id == 1 %} 
    <br class="choices">
        <div id="page-container">
                <div id="finalImage">
                    <img src="\static\images\{{clothes.type}}.jpg" class="imageSize"  width="80%" height="80%">
                </div>
                <div id"price" >
                <p id="clothType"> {{clothes.price|capfirst }}€</p>
                <a class="btn btn-secondary" href={% url 'item.update' clothes.id %} style="font-size:30px" >Edit</a>
                <a class="btn btn-danger" href={% url 'item.delete' clothes.id %} style="font-size:30px" >Delete</a>  
                </div>  
        </div>
{% else %}
<p class="text-capitalize font-weight-bold text-center text-info" style = "font-size:20px;">You do not have permission to this page. Please contact an administrator if required.</p>
{% endif %}
{% endblock %}