{% extends 'headerFooter.html' %}
{% load static %}
{% block content %}
{% if request.user.id == 1 %}
    <br class="choices">
        <div id="page-container">
            <div id="content-wrap">
                {% for c in object_list %}
                    <div class="items">
                        <li class="list-group-item">
                        <a href = "{% url 'item.detail' c.id %}" class="list-group-item list-group-item-action list-group-item-primary">
                        <img src="\static\images\{{c.type}}.jpg" class="imageSize" height="300"></a>
                        <br>
                        <p class="catalogueTitle">{{c.type}}</p>
                        <p class="catalogueTitle">{{c.price}}</p>
                        </li>
                    </div>                   
                {% endfor %}
            </div>
        </div>
    <br class="choices">
{% else %}
<p class="text-capitalize font-weight-bold text-center text-info" style = "font-size:20px;">You do not have permission to this page. Please contact an administrator if required.</p>
{% endif %}
{% endblock %}